* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 0;
}

body {
    max-width: 1366px;
    max-height: 722px;
    margin: 0;

    background: url('/assets/bg.jpg') fixed;
}

button{
    transition: filter 0.4s;
}

button:hover {
    filter: brightness(1.1);
}