.search-box {
  width: 100%;

  display: flex;
  justify-content: left;
  align-items: center;

  margin-left: 5rem;

  img {
      width: 35px;
      height: auto;

      margin-right: 0.3rem;
      background: #fff;
      border-radius: 45%;
      padding: 3.5px;
  }

  input {
      width: 100%;
      height: 30px;

      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-style: italic;
      padding: 1.2rem;

      border-radius: 10px;
      border: 0.1px solid;
  }
}

.content-main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;

  padding-left: 1rem;
}

.add-char {
  margin: 1rem 1rem 0 8rem;

  width: 10rem;
  height: 12rem;

  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border: 1px solid rgba(32, 31, 31, 0.171);

  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.247);

  input {
      margin: 0.5rem;
      padding-left: 0.5rem;

      border-radius: 10px;
      border: 0.1rem solid #4AC8F0;
  }

  button {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      border: none;

      margin: 0.5rem;

      background: #4AC8F0;
      color: white;

      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
      svg {
          width: 60px;
          height: 60px;
      }
  }

  .dd-wrapper {
      width: 200px;
      height: 50px;

      .dd-header{
          font-size: 14px;
      }

      button {
          box-shadow: none;
      }
  }
  .dd-header {
      width: 100%;
      height: 100%;

      margin: 0;

      justify-content: center;
      border: none;

      .dd-header-title {
          width: 100%;
          height: 100%;
      
          margin: 0;
      
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
      
          color: #000;
          font-weight: bold;
          font-size: 1rem;
      } 

      span {
          width: 20px;
          height: 20px;
          display: flex;
          margin: 0 1rem 0 1rem;
          border: none;

          svg{
              width: 100%;
              height: 100%;
              border: none;
          }

      }
  }
}

.dd-wrapper {
  .dd-list {
      .dd-scroll-list{
          .dd-list-item {
              width: 90%;
              height: 100%;
      
              display: flex;
              text-align: center;
              margin: 0.5rem;
              background: #fff;
              border: none;
              color: #000;
          
              font-size: 22px;
          }

          .dd-list-item:hover {
              background: #109b27e7;
          }
      }
  }
}

@media screen and (min-width: 701px) {
    .content-main {
        margin-left: 5rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .add-char {
        margin: 1rem 1rem 0 2.5rem;
    }
}

@media screen and (min-width: 900px) {
    .content-main {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .content-main {
        margin-left: 10rem;

        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }

    .add-char {
        margin: 1rem 1rem 0 2.5rem;
    }
}


@media screen and (max-width: 700px) {
    .content-main {
        margin-left: 5rem;

        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .add-char {
        margin: 1.5rem;
        align-self: center;
    }

    .search-box {
        margin-left: 3rem;
    }
}

