// #root {
//     max-width: 1366px;
//     height: 100vh;
//     background: url('/assets/bg.jpg') no-repeat scroll;
// }
.background {
    visibility: hidden;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content:  left;
    align-items: center;

    margin: 0 0 4rem -2rem;

    img {
        width: 40px;
        height: 40px;

        margin-right: 0.5rem;
        background: #fff;
        border-radius: 45%;
        padding: 3px;
    }

    input {
        width: 485px;
        height: 37px;

        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-style: italic;
        padding: 1rem;

        border-radius: 10px;
        border: 0.1px solid;
    }
}

main {
    padding: 3rem 15rem;
}

.content-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.add-char {
    margin: 3rem 1rem 0 1rem;

    width: 13rem;
    height: 9rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border: 1px solid rgba(32, 31, 31, 0.171);

    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.247);

    input {
        margin: 0.5rem;
        padding-left: 0.5rem;

        border-radius: 10px;
        border: 0.1rem solid #4AC8F0;
    }

    button {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        border: none;

        margin: 0.5rem;

        background: #4AC8F0;
        color: white;

        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
        svg {
            width: 60px;
            height: 60px;
        }
    }

    .dd-wrapper {
        width: 200px;
        height: 50px;

        .dd-header{
            font-size: 14px;
        }

        button {
            box-shadow: none;
        }
    }
    .dd-header {
        width: 100%;
        height: 100%;

        margin: 0;

        justify-content: center;
        border: none;

        .dd-header-title {
            width: 100%;
            height: 100%;
        
            margin: 0;
        
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
        
            color: #000;
            font-weight: bold;
            font-size: 1rem;
        } 

        span {
            width: 20px;
            height: 20px;
            display: flex;
            margin: 0 1rem 0 1rem;
            border: none;

            svg{
                width: 100%;
                height: 100%;
                border: none;
            }

        }
    }
}

.dd-wrapper {
    .dd-list {
        .dd-scroll-list{
            .dd-list-item {
                width: 90%;
                height: 100%;
        
                display: flex;
                text-align: center;
                margin: 0.5rem;
                background: #fff;
                border: none;
                color: #000;
            
                font-size: 22px;
            }

            .dd-list-item:hover {
                background: #109b27e7;
            }
        }
    }
}

.dd-list {
    .dd-list-item {
        width: 2rem;
        height: 3rem;

        display: flex;
        padding: 0;
        margin: 0;
        background: none;
        box-shadow: none;
        border: none;
        color: #000;
    
        font-size: 10px;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .character-label {
      width: 70%;
      border: none;

        select {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }

        option {
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
        }

        option:hover {
            margin: 1rem;

            border-radius: 10px;
          }
  }

