.profile {
  width: 85%;
  height: 100%;

  max-width: 500px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  margin: 2rem;

  background: #1F1510;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.left { // left
  margin-left: 2rem;
}

.outer-border {
  width: 100%;
  height: 100%;
  // background-color: transparent;
  border: 5px solid #7B7370;
}

.inner-border {
  width: 100%;
  height: 80%;
  border: 5px solid #A39A95;

  img {
    width: 100%;
    height: 120px;
  }
}

.outer-border::before {
  border-color: #C4C4C4;
}

.right { //right
  display: flex;
  flex-direction: column;
  color: #FFF;

  align-items: flex-end;

  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: bold;

  margin-right: 1rem;
}


@media screen and (min-width: 600px) {
  .profile {
    margin-left: 3rem;
  }
}

@media screen and (min-width: 700px) {
  .profile {
    margin-left: 8rem;
  }
}