.open {
  width: 70px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 50%;
    height: auto;

    position: relative;
    left: 0.5rem;

    transition: 0.5s;
  }

  .sidebar {
      visibility: hidden;
      position: fixed;
      height: 100vh;
  }
}

.open:hover{
  flex-direction: column;

  .sidebar {
    visibility: visible;
    height: 200vh;
    width: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1;

    top: -1rem;
            
    background: rgba($color: #262626a9, $alpha: 0.6);
    
    transition: 0.5s;

    li:first-of-type {
      margin-top: 8rem;
    }
  
    button {
      width: 90px;
      height: 40px;
      background: rgba($color: #262626a9, $alpha: 0.6);
      color: #fff;

      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: bold;

      border-radius: 20px;
      border: none;

      margin: 1rem 0rem 0.5rem 0.5rem;
      transition: 0.4s;
    }
    
    button:hover {
        background: #fff;
        color: rgb(34, 32, 32);
    }
  }
}