.search-box {
  width: 70%;

  input {
    max-width: 450px;
  }
}

.content-smh {
  margin: 4rem;
  position: relative;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
  padding: 0 0 0 1rem;

  .smh-pop-up {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    // margin: 0 0 -15rem 0;
    
    span, div {
      visibility: hidden;
    }

  }

  .smh-pop-up:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba($color: #262626a9, $alpha: 0.6);

    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    transition: 0.4s;

    div:first-of-type > span {
      visibility: visible;
      color: rgb(0, 228, 19);
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: rgba(0, 180, 9, 0.541);

      margin: 0;
    }

    div{
      button{
        visibility: visible;

        width: 20px;
        height: fit-content;
        margin-left: 1rem;

        font-size: 16px;

        background: #EBC028;
        color: #000;
        border: none;
        border-radius: 5px;
        outline: none;

        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
      }
    }

    div:nth-child(2) > span {
      visibility: visible;
      // color: rgb(236, 28, 0);
      color: rgba(255, 0, 0, 0.726);
      -webkit-text-stroke-width: 1.5px;
      // -webkit-text-stroke-color: rgba(165, 0, 0, 0.507);
      -webkit-text-stroke-color: rgba(172, 28, 9, 0.579);

    }  
  }

  .smh{
      display: flex;
      position: relative;
      align-self: center;

      padding-left: 0rem;

      img {
        width: 100%;
      }
  }

}

@media screen and (max-width: 500px) {
  .smh {
    width: 90%;
    align-items: center;
  } 

  .search-box {
    margin-top: 2rem;
    width: 65%;
  }
}


@media screen and (max-width: 100px) {
  .smh {
    width: 30%;
    align-items: center;
  }  
}



@media screen and (min-width: 701px) {
  .content-smh {
      margin-left: 5rem;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
  }

  .smh {
    width: 110%;
  }

  .search-box {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .content-smh {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .content-smh {
      margin-left: 10rem;

      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
  }

}
